<!DOCTYPE html>
<html>
<head>
<head>
  <title> RISE </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="<%= url("/css/style.css")%>">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
</head>
<body>

  <section class="splashscreen">
    <div class="background"> </div>
    <article class="logo">
      <h1> RISE </h1>
      <h2> Discover music as you go </h2>
    </article>
    <i class="fa fa-angle-down chevron" aria-hidden="true"></i>
  </section>

  <nav class="nav">
    <ul class="menu">
      <li> Rise </li>
      <li> About </li>
      <li> Contact </li>
    </ul>
  </nav>

   <article>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium aliquam feugiat. Aliquam efficitur ante non risus efficitur, sed vestibulum orci efficitur. Vestibulum lobortis diam nisi, ac sollicitudin nisi porta ut.</p>
    <p> Get notified when we launch : </p>
   <p> Artist? </p>
  </article>
  <!-- <section class="colonnes">
    <article class="col">
      Colonne 1
    </article>
    <article class="col">
      Colonne 2
    </article>
    <article class="col">
      Colonne 3
    </article>
  </section> -->
   <button type="button">Grow your audience</button>
   <br>
   <img height="55" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" width="55" alt="Afficher l'image d'origine" style="margin-left: 12px; padding-top: 8px; padding-bottom: 8px;">
   <img height="55" src="http://orig14.deviantart.net/66e7/f/2013/025/2/0/twitter_button__logo_v2_by_pixxiepaynee-d5sog0x.png" width="55" alt="Afficher l'image d'origine" style="margin-left: 12px; padding-top: 8px; padding-bottom: 8px;">
   <img height="56" src="http://static3.techinsider.io/image/573367ad52bcd0320c8c238e-748-561/cilkr-gu4aah8gj.jpg" width="79" alt="Afficher l'image d'origine" style="padding-right: 8px; padding-top: 8px; padding-bottom: 8px;">
<article class="container">
  <section class="row">
  <div class="col-md-4 col-xs-6">
    <article>
      Colonne 1
    </article>
  </div>
  <div class="col-md-4 col-xs-6">
    <article>
      Colonne 2
    </article>
  </div>
  <div class="col-md-4 col-xs-6">
    <article>
      Colonne 3
    </article>
  </div>

</html>
